<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TodoList Sample</title>
    @*<link href="~/Content/owl.carousel.css" rel="stylesheet" />*@
    <link href="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet"/>
    <link href="https://owlcarousel2.github.io/OwlCarousel2/assets/css/docs.theme.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div>
            <a href="@Url.Action("Index", "Home")">
                <i class="glyphicon glyphicon-tasks"></i>&nbsp;TodoList Sample Application
            </a>
        </div>
        <div class="title">
            @RenderSection("title", required: false)
        </div>
        <div></div>
    </header>
        @RenderBody()
    </main>
    <footer>
        <p>&copy; @DateTime.Now.Year - TodoList Sample</p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/owl.carousel.js"></script>
    <script src="~/Scripts/Index.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>
